body {
    background-color: rgb(167, 235, 241);
}

* 

#contact-wrapper {
    box-shadow: rgb(154, 228, 236) 0 4px 20px 0;
}

.welcome-form {
    background: rgb(167, 235, 241);
    position: relative;
    height: 100%;
    text-transform: uppercase;
    outline: 0;
    border-bottom: #3fe5e2eb;
}

form {
    padding: 0,5rem 0rem;
    position: relative;
}

.welcome-form form button {
    background: #3fe5e2eb;
    color: #666666;
    border: 0;
    text-transform: uppercase;
    padding: 0,9em;
}


